* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

/* .background {
    width: 500px;
    height: 500px;
} */

.cactus {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background: red;
}
.dino {
    width: 60px;
    height: 60px;
    background: brown;
    position: absolute;
    bottom: 0;
}