* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.background {
    background: #000;
    width: 500px;
    height: 500px;
}

.dino {
    width: 60px;
    height: 60px;
    background: brown;
    position: absolute;
    bottom: 0;
}